img{
    max-width: 100%;
    display: block;
}

.contenedor-grid{
    background-color: rgb(255, 255, 255);
   
}
.columna{
    border: 5px solid rgb(0, 0, 0);
    gap: 2rem;
    margin: 30px;
}

@media (min-width: 750px) {
    .contenedor-grid{
        display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 2rem;
    }
}

@media(max-width:750px){
    .contenedor-grid{
        gap: 1rem;
        display: grid;
    }
}

@media(max-width:900px){
    .boto{
        margin: 10px;
        bottom: 0px;
   
    }
}
