.informacion{
    background-color: blueviolet;
   padding: 2rem ;
  /*  padding: 40px;*/
  text-align: center;
  max-width: 80rem; 
  margin: 0 auto;
}

.titulo{
    font-size: 2rem;
    margin: 0;
}

@media (min-width:600px) {
    .informacion{
        background-color: aquamarine;
        max-width: 40rem;
    }
}

@media (min-width:800px) {
    .informacion{
        background-color: rgb(4, 214, 154);
        
    }
    .titulo{
        font-size: 4rem;
    }
    
}